<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Category</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="navbar">
    <a href="/dashboard" style="color: white; text-decoration: none;">
      <div class="logo">
        <h1>Library Management System</h1>
      </div>
    </a>
    <div class="options">
      <a href="/profile">View Profile</a>
      <a href="/books">View Books</a>
      <a href="/all-checked-out-books">View All Checked Out Books</a>
      <a href="/view-add-category">View All Categories</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
  <div class="content">
    <div class="form-container">
      <h2>Add Category</h2>

  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  
  <% if (categories.length > 0) { %>
    <h3>Existing Categories</h3>
    <ul style="padding-left: 20px;">
      <% categories.forEach(category => { %>
        <li><%= category.name %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No categories found.</p>
  <% } %>
  <br>
  <form method="post" action="/add-category">
    <div>
      <label for="categoryName">Category Name:</label>
      <input type="text" id="categoryName" name="categoryName" required>
    </div>
    <button type="submit">Add Category</button>
  </form>
</div>
</div>
</body>
</html>