<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Librarian</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="navbar">
    <a href="/dashboard" style="color: white; text-decoration: none;">
      <div class="logo">
        <h1>Library Management System</h1>
      </div>
    </a>
    <div class="options">
      <a href="/books">View Books</a>
      <a href="/profile">View Profile</a>
      <a href="/viewAllUsers">View All Users</a>
      <a href="/add-librarian">Add Librarian</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
  <div class="content">
    <div class="form-container">
  <h2>Add Librarian</h2>
  <% if (success) { %>
    <p style="color: green;"><%= success %></p>
  <% } %>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form method="post" action="/add-librarian">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>
      </div>
      <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" required>
      </div><br><br>
    <button type="submit">Add Librarian</button>
  </form>
</div>
</div>
</body>
</html>
