<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <style>
    .button-container {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <a href="/dashboard" style="color: white; text-decoration: none;">
      <div class="logo">
        <h1>Library Management System</h1>
      </div>
    </a>
    <div class="options">
      <a href="/">View Books</a>
      <a href="/register">Sign Up</a>
    </div>
  </div>
  <div class="container">
    <div class="form-container">
      <h1>Login</h1>
      <% if (error) { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
      <form method="post" action="/login">
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div>
          <label for="role">Role:</label>
          <select id="role" name="role" required>
            <option value="">Select Role</option>
            <option value="Admin">Admin</option>
            <option value="Librarian">Librarian</option>
            <option value="Customer">Customer</option>
          </select>
        </div><br>
        <div class="button-container">
          <button type="submit" style="width: 40%;">Login</button>
        </div><br>
        <p> Not registered yet? <a href="/register">Click here</a> to register for free.</p>
      </form>
    </div>
  </div>
</body>
</html>
